<div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
    <div class="col-sm-4 shadow round pb-3">
      <h2 class="text-center pt-3 ">LOGIN FORM</h2>
      <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
        <strong>The form submitted successfuly!</strong> 
        <button (click)="closeAlert()" type="button" data-dismiss="alert" aria-label="Close" style="width: 5px; background:none; border-style: none; color: black; font-weight: bolder;">&times;
        </button>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <input formControlName="name" type="text" class="form-control" placeholder="Name">
        </div>
        <div class="small"> <small *ngIf="name.invalid && name.touched">* Name is Required</small> </div>
        <div class="form-group">
          <input formControlName="dob" type="date" class="form-control" placeholder="Birth Date"
            [(ngModel)]="birthDate">
        </div>
        <div class="small"><small *ngIf="dob.invalid && dob.touched">* Birth date is Required</small></div>
        <div class="small"><small *ngIf="dob.valid && dob.touched && dob.dirty && userAge < 18 && ageVal === false">* Login not allowed, Your age is less than
            18Yrs</small></div>
        <div class="small"><small *ngIf="dob.valid && dob.touched && dob.dirty && userAge > 35 && ageVal === false">* Login not allowed, Your age is above
            35Yrs</small>
        </div>
        <div class="form-group">
          <input formControlName="mobile" type="text" class="form-control" placeholder="Mobile Number"> <br>
          <div class="small">
            <small *ngIf="mobile.invalid && mobile.touched">* Mobile no is Required (Pease enter valid number)</small>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Email ID">
        </div>
        <div class="small">
          <small *ngIf="email.invalid && email.touched">* Please Enter Valid EmailID</small>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="small">
          <small *ngIf="password.invalid && password.touched && !password.dirty">* Please Enter Password</small>
          <small *ngIf="password.invalid && password.dirty && password.touched">* Please enter password with min 5 characters</small>
        </div>
        <div class="button">
          <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid"><b>Submit</b></button>
        </div>
      </form>
    </div>
  </div>
  <!-- code to print input value while typing -->
  <div><h4>Get input value printed below</h4></div>
  <input type="text" (keyup)="getValue($event.target.value)">
  <h4>{{currentValue}}</h4>
</div>


